body{
    background-color: brown;
    text-align: center;
}
h1{
    color: blue;
}
.buttons{
   padding: 10px;
}
.delete{
    color:red;
    background-color: black;
}
.bot-list{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bot-card{
    text-align: center;
    padding: 30px;
    margin: 15px;
    border:2px solid white;
    border-radius: 10px;

}
.bot-card img{
    max-width: 60px ;
    max-height: 90px;
    border-radius: 100%;
}